<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
 
 <!-- 设置导入外部properties文件位置 -->
 <properties resource="config.properties"></properties>
 
 <!-- 为每一个实体类设置一个具体别名 -->
 <!--  <typeAliases>
    <typeAlias type="com.kaikeba.beans.Dept" alias="Dept"/>
 </typeAliases>
 -->
 <!-- 为当前包下的每一个类设置一个默认别名 -->
 <typeAliases>
   <package name="com.kaikeba.beans"/>
 </typeAliases>
 
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>

  </environments>
 
  <mappers>
    <package name="com.kaikeba.dao"/>
  </mappers>
</configuration>
